<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <title>Prechecker Main View</title>
        <script name="jquery/jquery.js" library="primefaces"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>
        <script src="../resources/JavaScript/pie.js"></script>
    </h:head>

    <style>
        #chart {
      max-width: 650px;
      margin: 35px auto;
    }
    .ui-datatable * {
     border : 0px !important;
    }
    .ui-datatable table{
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
    }
    .ui-panelgrid{
        border-collapse: separate;
        border-spacing: 15px;
    }
    </style>

    <h:body>
        <h:form id="mainViewForm">
            <h:panelGrid id="main" style="margin-bottom:10px; width: 100%; align: center" cellpading="7">
                <h:panelGrid id="total" columns="5" cellpading="5">
                    <h:outputText value="Total tickets desde" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-right:2em"/>
                    <p:calendar value="#{mainView.startTime}" pattern="dd/MM/yyyy HH:mm"></p:calendar>
                    <h:outputText value="hasta" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:2em; padding-right:2em"/>
                    <p:calendar value="#{mainView.endTime}" pattern="dd/MM/yyyy HH:mm"></p:calendar>
                    <p:commandButton id="Ajax" value="Submit" update="main, filters, mainViewMainTable, ticketsGraphic" action="#{mainView.refresh()}" ajax="true"/>
                </h:panelGrid>
            </h:panelGrid>

            <hr />

            <p:panelGrid>
                <p:row>
                    <p:column style="border-style: none; padding: 0px">
                        <h:outputText value="Estado de las navieras:" />
                    </p:column>
                    <p:column style="border-style: none; padding: 0px">
                        <p:commandLink rendered="#{mainView.shippingLineStatusData.amlStatus}" action="#{mainView.setCompanySelected('AML')}"
                                       oncomplete="PF('dlg1').show()" update="dialog" style="display: block; margin: auto">
                            <h:graphicImage name="images/aml_green.png"/>
                        </p:commandLink>
                        <p:commandLink rendered="#{!mainView.shippingLineStatusData.amlStatus}"
                                       style="display: block; margin: auto">
                            <h:graphicImage name="images/aml_red.png"/>
                        </p:commandLink>
                    </p:column>
                    <p:column style="border-style: none; padding: 0px">
                        <p:commandLink rendered="#{mainView.shippingLineStatusData.baleariaStatus}" action="#{mainView.setCompanySelected('BALEARIA')}"
                                       oncomplete="PF('dlg1').show()" update="dialog" style="display: block; margin: auto">
                            <h:graphicImage name="images/balearia_green.png"/>
                        </p:commandLink>
                        <p:commandLink rendered="#{!mainView.shippingLineStatusData.baleariaStatus}"
                                       style="display: block; margin: auto">
                            <h:graphicImage name="images/balearia_red.png"/>
                        </p:commandLink>
                    </p:column>
                    <p:column style="border-style: none; padding: 0px">
                        <p:commandLink rendered="#{mainView.shippingLineStatusData.frsStatus}" action="#{mainView.setCompanySelected('FRS')}"
                                       oncomplete="PF('dlg1').show()" update="dialog" style="display: block; margin: auto">
                            <h:graphicImage name="images/frs_green.png"/>
                        </p:commandLink>
                        <p:commandLink rendered="#{!mainView.shippingLineStatusData.frsStatus}"
                                       style="display: block; margin: auto">
                            <h:graphicImage name="images/frs_red.png"/>
                        </p:commandLink>
                    </p:column>
                    <p:column style="border-style: none; padding: 0px">
                        <p:commandLink rendered="#{mainView.shippingLineStatusData.intershippingStatus}" action="#{mainView.setCompanySelected('INTERSHIPPING')}"
                                       oncomplete="PF('dlg1').show()" update="dialog" style="display: block; margin: auto">
                            <h:graphicImage name="images/intershipping_green.png"/>
                        </p:commandLink>
                        <p:commandLink rendered="#{!mainView.shippingLineStatusData.intershippingStatus}"
                                       style="display: block; margin: auto">
                            <h:graphicImage name="images/intershipping_red.png"/>
                        </p:commandLink>
                    </p:column>
                    <p:column style="border-style: none; padding: 0px">
                        <p:commandLink rendered="#{mainView.shippingLineStatusData.trasmediterraneaStatus}" action="#{mainView.setCompanySelected('TRASMEDITERRANEA')}"
                                       oncomplete="PF('dlg1').show()" update="dialog" style="display: block; margin: auto">
                            <h:graphicImage name="images/trasmediterranea_green.png"/>
                        </p:commandLink>
                        <p:commandLink rendered="#{!mainView.shippingLineStatusData.trasmediterraneaStatus}"
                                       style="display: block; margin: auto">
                            <h:graphicImage name="images/trasmediterranea_red.png"/>
                        </p:commandLink>
                    </p:column>
                </p:row>

                <p:dialog id="dialog" header="Ticket Consult" widgetVar="dlg1" minHeight="40" width="350" showEffect="fade">
                    <h:outputText value="Company Selected: #{mainView.companySelected}"/> <br/>
                    <h:outputText value="Ticket:"/>
                    <p:inputText value="#{mainView.ticket}" style="margin-top: 15px; margin-left: 15px"/>
                    <p:commandButton value="Booking" onclick="PF('dlg1').hide()" style="margin-top: 15px; margin-right: 10px"
                                     oncomplete="PF('dlg2').show()" update="dialog2"
                                     action="#{mainView.consultTicket(true)}"/>
                    <p:commandButton value="Ticket" onclick="PF('dlg1').hide()" style="margin-top: 15px"
                                     oncomplete="PF('dlg2').show()" update="dialog2"
                                     action="#{mainView.consultTicket(false)}"/>
                </p:dialog>

                <p:dialog id="dialog2" header="Ticket Information" widgetVar="dlg2" showEffect="fade">
                    <h:outputText value="#{mainView.ticketResult}"/> <br/>
                </p:dialog>
            </p:panelGrid>

            <p:panelGrid>
                <p:row>
                    <p:column style="width: 35%; border-radius: 40px; border-width: 2px;
                        border-color: #5A658D; vertical-align: baseline;
                        padding-top: 40px;">
                        <h:panelGrid id="mainViewMainTable" style="border-radius: 40px; border-width: 2px; border-color: #5A658D; height: 400px; width: 600px">
                            <div id="TICKETS">
                                <h:outputScript>
                                    createPie('TICKETS', '', #{mainView.allPrecheckersTickets.values()}, '#{mainView.allPrecheckersTickets.keySet()}', true )
                                </h:outputScript>
                            </div>
                            <p:commandButton value="Refresh" id="mainViewMainTableRefresh" update="mainViewMainTable, ticketsGraphic" action="#{mainView.refresh}" style="margin-right:20px;" ajax="false" />
                        </h:panelGrid>
                    </p:column>
                    <p:column style="border-radius: 40px; border-width: 2px; border-color: #5A658D; height: 400px; width: 600px">
                        <h:panelGrid id="ticketsGraphic" style="border-radius: 40px; border-width: 2px; border-color: #5A658D; height: 400px; width: 600px">
                            <div id="TICKETS-GRAPHIC"/>
                            <h:outputScript>
                                createPie('TICKETS-GRAPHIC', '', #{mainView.precheckersTickets.values()}, '#{mainView.precheckersTickets.keySet()}', false)
                            </h:outputScript>
                        </h:panelGrid>
                    </p:column>
                    <p:column style="border-radius: 40px; border-width: 2px; border-color: #5A658D">
                        <h:panelGrid id="filters" columns="2">
                            <h:graphicImage name="images/aml.png" style="display: block; margin: auto"/>
                            <p:inputSwitch value="#{mainView.companiesSelected['AML']}">
                                <p:ajax listener="#{mainView.refresh()}" update="filters, mainViewMainTable, ticketsGraphic, times"/>
                            </p:inputSwitch>

                            <h:graphicImage name="images/balearia.png" style="display: block; margin: auto"/>
                            <p:inputSwitch value="#{mainView.companiesSelected['BALEARIA']}">
                                <p:ajax listener="#{mainView.refresh()}" update="filters, mainViewMainTable, ticketsGraphic, times"/>
                            </p:inputSwitch>

                            <h:graphicImage name="images/frs.png" style="display: block; margin: auto"/>
                            <p:inputSwitch value="#{mainView.companiesSelected['FRS']}">
                                <p:ajax listener="#{mainView.refresh()}" update="filters, mainViewMainTable, ticketsGraphic, times"/>
                            </p:inputSwitch>

                            <h:graphicImage name="images/intershipping.png" style="display: block; margin: auto"/>
                            <p:inputSwitch value="#{mainView.companiesSelected['INTERSHIPPING']}">
                                <p:ajax listener="#{mainView.refresh()}" update="filters, mainViewMainTable, ticketsGraphic, times"/>
                            </p:inputSwitch>

                            <h:graphicImage name="images/trasmediterranea.png" style="display: block; margin: auto"/>
                            <p:inputSwitch value="#{mainView.companiesSelected['TRASMEDITERRANEA']}">
                                <p:ajax listener="#{mainView.refresh()}" update="filters, mainViewMainTable, ticketsGraphic, times"/>
                            </p:inputSwitch>

                            <h:outputText value="TODAS" style="display: block; margin: auto; text-align:center;"/>
                            <p:inputSwitch value="#{mainView.allCompanyFilters}">
                                <p:ajax listener="#{mainView.activateAllFilters()}" update="filters, mainViewMainTable, ticketsGraphic, times"/>
                            </p:inputSwitch>
                        </h:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:panelGrid id="times">
                <p:row>
                    <p:column style="border-radius: 40px; border-width: 2px; border-color: #5A658D; padding: 20px; padding-left: 10px">
                        <h:panelGrid>
                            <h:outputText value="Media de tiempos de respuesta en 24 horas" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="AML -> #{mainView.mediaTime24HOfCompanies['AML']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="BALEARIA -> #{mainView.mediaTime24HOfCompanies['BALEARIA']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="FRS -> #{mainView.mediaTime24HOfCompanies['FRS']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="INTERSHIPPING -> #{mainView.mediaTime24HOfCompanies['INTERSHIPPING']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="TRASMEDITERRANEA -> #{mainView.mediaTime24HOfCompanies['TRASMEDITERRANEA']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                        </h:panelGrid>
                    </p:column>

                    <p:column style="border-radius: 40px; border-width: 2px; border-color: #5A658D; padding: 20px; padding-left: 10px">
                        <h:panelGrid>
                            <h:outputText value="Media de tiempos de respuesta en la última hora" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="AML -> #{mainView.mediaTime1HOfCompanies['AML']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="BALEARIA -> #{mainView.mediaTime1HOfCompanies['BALEARIA']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="FRS -> #{mainView.mediaTime1HOfCompanies['FRS']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="INTERSHIPPING -> #{mainView.mediaTime1HOfCompanies['INTERSHIPPING']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="TRASMEDITERRANEA -> #{mainView.mediaTime1HOfCompanies['TRASMEDITERRANEA']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                        </h:panelGrid>
                    </p:column>

                    <p:column style="border-radius: 40px; border-width: 2px; border-color: #5A658D; padding: 20px; padding-left: 10px">
                        <h:panelGrid>
                            <h:outputText value="Media de tiempos de las últimas 10 respuesta" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="AML -> #{mainView.mediaTimeLast10OfCompanies['AML']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="BALEARIA -> #{mainView.mediaTimeLast10OfCompanies['BALEARIA']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="FRS -> #{mainView.mediaTimeLast10OfCompanies['FRS']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="INTERSHIPPING -> #{mainView.mediaTimeLast10OfCompanies['INTERSHIPPING']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                            <h:outputText value="TRASMEDITERRANEA -> #{mainView.mediaTimeLast10OfCompanies['TRASMEDITERRANEA']} milisegundos" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:1em"/>
                        </h:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <div id="chart"></div>
        </h:form>
    </h:body>
</html>